.catalogContainer {
    font-family: sans-serif;
    background: #F8F3ED;
    color: #593825;
    align-items: "center";
    flex-direction: column;
    width: 95%;
    height: 95%;
  }


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: linear-gradient(to bottom, #DDDAD5, #F8F3ED);
  
}

.logo {
  height: 70px;
}

.navbar nav a {
  margin: 0 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 28;
  color: #6b3e26;
}

.navbar .active {
  color: #a6633c;
}

.cart {
  font-weight: bold;
  color: #6b3e26;
}

.tabs {
  display: flex;
  gap: 2rem;
  margin: 1rem 0;
  font-size: 25;
  font-weight: bold;
}

.tabs a,
.tabs span {
  color: #6b3e26;
  text-decoration: none;
}

.activeTab {
  color: #a6633c;
  border-bottom: 2px solid #a6633c;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem 0;
}

.card {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 160px;
  overflow: hidden;
  padding: 0.5rem;
}

.card img {
  width: 100%;         
  height: 160px;       
  border-radius: 0.5rem;
  object-fit: cover;   
  display: block;      
}

.info {
  padding: 0.5rem 0;
}

.info strong {
  text-transform: lowercase;
  font-weight: 600;
  display: block;
  margin-bottom: 0.25rem;
  color: #3d2b1f;
}

.info p {
  font-size: 15;
  margin: 0.25rem 0;
  color: #5c4432;
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomRow span {
  color: #a6633c;
  font-size: 0.9rem;
}

.bottomRow button {
  background: #a6633c;
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 1rem;
  cursor: pointer;
}
.background {
    background-image: url('/fondo.svg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  
    display: flex; 
    justify-content: center; 
    align-items: center;     
  
    flex-direction: column;
  }

  
.button {
  background: #b5794d;
  border: none;
  color: white;
  font-size: 1.2rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.buttonModal {
  background: #b5794d;
  color: white;
  font-size: 1.2rem;
  border-radius: 15%;
  width: 80px;
  height: 50px;
}
/* Modal Styles */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
  max-height: 80%;
  overflow-y: auto;
}

.cartList {
  list-style: none;
  padding: 0;
}

.cartList li {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}

.payButton {
  background: #0070ba;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  width: 100%;
  font-weight: bold;
}

.closeButton {
  margin-top: 10px;
  background: #999;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
}
.removeButton {
  margin-left: 25px;
  background-color: transparent;
  border: none;
  color: rgb(214, 54, 54);
  cursor: pointer;
  font-size: 16px;
}
